@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400&display=swap');

body {
    background: #4D77FF;
    color: #5EE6EB;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: #F2FA5A solid 2px;
    border-radius: 10%;
    padding: 10px;
}

img {
    max-width: 200px;
    margin: auto;
    border-radius: 50%;
}

ul {
    list-style: none;
}

.about-me {
    text-align: center;
    margin: 20px;
}

.about-me p {
    max-width: 400px;
    margin: auto;
    border: #F2FA5A solid 2px;
    border-radius: 10%;
    padding: 10px;
}

.about-me h3 {
    text-decoration: underline;
}

.line {
    border-top: #F2FA5A solid 2px;
}